<section class="about section">
  <h2 class="section_title">About Me</h2>
  <span class="section_subtitle">My Introduction</span>

  <div class="about_container container grid">
    <img src="/assets/about.gif" alt="" class="about_img" />

    <div class="about_data">
      <p class="about_description">
        Full Stack Developer with extensive knowledge and experience, developing backend Restful Web Services and Frontend UI/UX design, delivering quality work.
      </p>
      <div class="about_info">
        <div>
          <span class="about_info-title"> 02+ </span>
          <span class="about_info-name"> Years <br> experience</span>
        </div>
      </div>

      <div class="about_buttons">
        <a download="" href="/assets/Resume.pdf" class="button button-flex">
          Download CV <i class="uil uil-download-alt button_icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>
