<section class="contact section">
  <h2 class="section_title">Contact Me</h2>
  <span class="section_subtitle">Get in touch</span>

  <div class="contact_container container grid">
    <div>

      <div class="contact_information">
        <i class="uil uil-phone contact_icon"></i>

        <div>
          <h3 class="contact_title">Call Me</h3>
          <span class="contact_subtitle">+91-9497011604</span>
        </div>
      </div>

      <div class="contact_information">
        <i class="uil uil-envelope contact_icon"></i>

        <div>
          <h3 class="contact_title">Mail Me</h3>
          <span class="contact_subtitle">sarnam164@gmail.com</span>
        </div>
      </div>

      <div class="contact_information">
        <i class="uil uil-map-marker contact_icon"></i>

        <div>
          <h3 class="contact_title">Location</h3>
          <span class="contact_subtitle">Kerala, India</span>
        </div>
      </div>

    </div>
  </div>
</section>
