.skills_container{
  row-gap: 0;
}

.skills_header{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-2-5);
  cursor: pointer;
}

.skills_icon,
.skills_arrow{
  font-size: 2rem;
}

.skills_icon{
  margin-right: var(--mb-0-75);
}

.skills_title{
  font-size: var(--h3-font-size);
}

.skills_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light)
}

.skills_arrow{
  margin-left: auto;
  transition: .4s;
}

.skills_titles{
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}

.skills_name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills_list{
  margin-bottom: 3rem;
}

.skills_close{
  height: 0;
  overflow: hidden;
  margin-bottom: -1rem !important;
}

.mat-progress-bar{
  margin-top: -15px;
}

