.portfolio_container{
  overflow: initial;
}

.portfolio_content{
  padding: 0 1.5rem;
}

.portfolio_img{
  width: 265px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.portfolio_description{
  margin-bottom: var(--mb-0-75);
  color: var(--text-color);
}

.portfolio_button:hover .button_icon{
  transform: translateX(.25rem);
}

.mat-card{
  background-color: var(--container-color);
}
