<section class="portfolio section">
  <h2 class="section_title">Portfolio</h2>
  <span class="section_subtitle">My Sample Works</span>

  <div class="portfolio_container container">
    <div>

      <mat-card>
        <div class="portfolio_content grid">
          <img src="" alt="" class="portfolio_img"/>

          <div class="portfolio_data">
            <h3 class="portfolio_title">Product Shop</h3>
            <p class="portfolio_description">A sample project showcasing CRUD operations using Spring Boot, PostgreSQL and Angular.</p>
            <a href="https://product-shop-demo.herokuapp.com/" target="_blank" class="button button-flex button-small portfolio_button">
              Demo
              <i class="uil uil-arrow-right button_icon"></i>
            </a>
          </div>
        </div>
      </mat-card>

    </div>
  </div>
</section>
