<section class="qualification section">
  <h2 class="section_title">Qualification</h2>
  <span class="section_subtitle">My Personal Journey</span>

  <div class="qualification_container container">

    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <i class="uil uil-graduation-cap qualification_icon"></i>
          Education
        </ng-template>

        <div class="qualification_content">

          <div class="qualification_data">
            <div>
              <h3 class="qualification_title">B.Tech in CSE</h3>
              <span class="qualification_subtitle">KTU, Kerala</span>
              <div class="qualification_calendar">
                <i class="uil uil-calendar-alt"></i>
                2015 - 2019
              </div>
            </div>
            <div>
              <span class="qualification_rounder"></span>
              <span class="qualification_line"></span>
            </div>
          </div>

          <div class="qualification_data">
            <div></div>
            <div>
              <span class="qualification_rounder"></span>
              <span class="qualification_line"></span>
            </div>
            <div>
              <h3 class="qualification_title">XII</h3>
              <span class="qualification_subtitle">CBSE, Delhi</span>
              <div class="qualification_calendar">
                <i class="uil uil-calendar-alt"></i>
                2014
              </div>
            </div>

          </div>

          <div class="qualification_data">
            <div>
              <h3 class="qualification_title">X</h3>
              <span class="qualification_subtitle">ICSE, Delhi</span>
              <div class="qualification_calendar">
                <i class="uil uil-calendar-alt"></i>
                2012
              </div>
            </div>
            <div>
              <span class="qualification_rounder"></span>
            </div>
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <i class="uil uil-briefcase-alt qualification_icon"></i>
          Work
        </ng-template>

        <div class="qualification_content">

          <div class="qualification_data">
            <div>
              <h3 class="qualification_title">Loading..</h3>
              <span class="qualification_subtitle">Loading..</span>
              <div class="qualification_calendar">
                <i class="uil uil-calendar-alt"></i>
                2021 - Loading..
              </div>
            </div>
            <div>
              <span class="qualification_rounder"></span>
              <span class="qualification_line"></span>
            </div>
          </div>

          <div class="qualification_data">
            <div></div>
            <div>
              <span class="qualification_rounder"></span>
            </div>
            <div>
              <h3 class="qualification_title">Project Engineer</h3>
              <span class="qualification_subtitle">Wipro, Bangalore</span>
              <div class="qualification_calendar">
                <i class="uil uil-calendar-alt"></i>
                2019 - 2021
              </div>
            </div>

          </div>

        </div>

      </mat-tab>
    </mat-tab-group>

  </div>
</section>
