<section class="home section">
  <div class="home_container container grid">
    <div class="home_content grid">
      <div class="home_social">
        <a href="https://www.linkedin.com/in/sarnam164/" target="_blank" class="home_social-icon">
          <i class="uil uil-linkedin-alt"></i>
        </a>
        <a href="https://twitter.com/sarnam164" target="_blank" class="home_social-icon">
          <i class="uil uil-twitter-alt"></i>
        </a>
        <a href="https://github.com/sarnam164" target="_blank" class="home_social-icon">
          <i class="uil uil-github-alt"></i>
        </a>
      </div>

      <div class="home_img">
        <svg class="home_blob" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0" mask-type="alpha">
            <path d="M44,-75.6C55.5,-69.7,62,-54.6,69.6,-40.5C77.2,-26.4,85.7,-13.2,86.7,0.5C87.6,14.3,80.9,28.6,70.6,38C60.4,47.4,46.5,52,34.2,58.4C21.8,64.7,10.9,72.8,-0.5,73.6C-11.8,74.4,-23.6,67.9,-33.3,60C-43,52.1,-50.5,42.8,-61,32.6C-71.4,22.4,-84.7,11.2,-87.9,-1.9C-91.2,-14.9,-84.4,-29.9,-74.8,-41.6C-65.3,-53.3,-53,-61.9,-40.1,-67C-27.1,-72,-13.6,-73.6,1.4,-75.9C16.3,-78.3,32.6,-81.5,44,-75.6Z" transform="translate(100 100)" />
          </mask>
          <g mask="url(#mask0)">
            <path d="M44,-75.6C55.5,-69.7,62,-54.6,69.6,-40.5C77.2,-26.4,85.7,-13.2,86.7,0.5C87.6,14.3,80.9,28.6,70.6,38C60.4,47.4,46.5,52,34.2,58.4C21.8,64.7,10.9,72.8,-0.5,73.6C-11.8,74.4,-23.6,67.9,-33.3,60C-43,52.1,-50.5,42.8,-61,32.6C-71.4,22.4,-84.7,11.2,-87.9,-1.9C-91.2,-14.9,-84.4,-29.9,-74.8,-41.6C-65.3,-53.3,-53,-61.9,-40.1,-67C-27.1,-72,-13.6,-73.6,1.4,-75.9C16.3,-78.3,32.6,-81.5,44,-75.6Z" transform="translate(100 100)" />
            <image class="home_blob-img" x='12' y='18' xlink:href="/assets/photo.png"/>
          </g>
        </svg>
      </div>

      <div class="home_data">
        <h1 class="home_title">Hi, I'm Sayed Sarnam</h1>
        <h3 class="home_subtitle">Full Stack Developer</h3>
        <p class="home_description">Experienced with designing, developing and implementing scalable web applications.</p>
        <a routerLink="/contact" class="button button-flex">
          Contact Me <i class="uil uil-message button_icon"></i>
        </a>
      </div>

    </div>
  </div>
</section>
